apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include ".helm.name" . }}-config
data:
  httpd.conf: {{ .Values.apacheConfig.customConfig | indent 4 }}
  index.html: {{ .Values.indexPage | indent 4 }}