apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include ".helm.name" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include ".helm.name" . }}
  template:
    metadata:
      labels:
        app: {{ include ".helm.name" . }}
    spec:
      containers:
        - name: apache
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: 80
          volumeMounts:
            - name: config-volume
              mountPath: /usr/local/apache2/conf/httpd.conf
              subPath: httpd.conf
            - name: html-volume
              mountPath: /usr/local/apache2/htdocs/index.html
              subPath: index.html
      volumes:
        - name: config-volume
          configMap:
            name: {{ include ".helm.name" . }}-config
        - name: html-volume
          configMap:
            name: {{ include ".helm.name" . }}-config